version: "3"

services:
  cli:
    image: ${COVID_CLI_IMAGE}
    working_dir: /code/experiment-covid
    stdin_open: true
    tty: true
    privileged: true
    network_mode: host
    volumes:
      - ${FAASM_LOCAL_DIR}:/usr/local/faasm
      - .:/code/experiment-covid
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
